extends layout

include ./includes/tags.pug
include ./includes/articles.pug

block content
  div(class="page")
    div(class="main-layout")
      main
        +article-list(items)

      aside
        div(class="sticky")
          section(class="profile aside-first")
            // p тут нужна икнока имя описание и сыслки на хабр карьеру линкедин гитхаб и телегу
          section
            h2(class="aside-title  aside-first") Recommended topics
            +topics(tags)
           
    


block meta
  title #{meta.title}
  meta(name='description' content=meta.description)
  meta(property="og:title" content=meta.title)
  meta(property="og:description" content=meta.description)
  meta(property="og:type" content="website")
  meta(property="profile:first_name" content=meta.author.firstName)
  meta(property="profile:last_name" content=meta.author.lastName)
  meta(property="profile:username" content=meta.author.username)