extends layout

include ./includes/tags.pug
include ./includes/articles.pug

block content
  div(class="page")
    div(class="main-layout")
      main
        section(class="mobile-profile")
          div(class="mobile-profile-container")
            div(class="mobile-profile-wrap")
              div(class="mobile-profile-content")
                div(class="mobile-profile-info")
                  div(class="profile-info")
                    div(class="profile-info-image")
                      div(class="profile-info-image-wrap")
                        img(alt=meta.author.name  src="/v1/resize:fill:124:124/public/avatar.jpg" width="62" height="62" loading="lazy")
                        div(class="profile-info-image-shadow")
                    div(class="profile-info-name")=meta.author.name
                div(class="mobile-profile-buttons")
                  div
                    a(href=meta.social.telegram rel="noopener noreferrer" target="_blank")
                      img(src="/images/social/telegram.svg" alt="telegram" width="36" height="36")
                  div 
                    a(href=meta.social.github rel="noopener noreferrer" target="_blank")
                      img(src="/images/social/github.svg" alt="github" width="36" height="36")
                  div 
                    a(href=meta.social.habr rel="noopener noreferrer" target="_blank")
                      img(src="/images/social/habr.svg" alt="habr" width="36" height="36")
                  div 
                    a(href=meta.social.linkedin rel="noopener noreferrer" target="_blank")
                      img(src="/images/social/linkedin.png" alt="linkedin" width="42.33" height="36")

        +article-list(items)

      aside
        div(class="sticky")
          section(class="aside-profile")
            div(class="aside-profile-image")
              img(alt=meta.author.name src="/v1/resize:fill:176:176/public/avatar.jpg" width="88" height="88" loading="lazy")
              div(class="aside-profile-image__shadow")
            div(class="aside-profile-name")
              h2 
                span #{meta.author.name}
            div(class="aside-profile-summary")
              p 
                span #{meta.author.summary}
            div(class="aside-profile-buttons")
              div
                a(href=meta.social.telegram rel="noopener noreferrer" target="_blank")
                  img(src="/images/social/telegram.svg" alt="telegram" width="38" height="38")
              div 
                a(href=meta.social.github rel="noopener noreferrer" target="_blank")
                  img(src="/images/social/github.svg" alt="github" width="38" height="38")
              div 
                a(href=meta.social.habr rel="noopener noreferrer" target="_blank")
                  img(src="/images/social/habr.svg" alt="habr" width="38" height="38")
              div 
                a(href=meta.social.linkedin rel="noopener noreferrer" target="_blank")
                  img(src="/images/social/linkedin.png" alt="linkedin" width="44.68" height="38")
    
          div(class="aside-separator")
          section(class="aside-topics")
            h2(class="aside-title") Recommended topics
            +topics(tags)
          div(class="aside-separator")
           
    


block meta
  title #{meta.title}
  meta(name='title' content=meta.title)
  meta(property="og:title" content=meta.title)

  meta(name='description' content=meta.description)
  meta(property="og:description" content=meta.description)

  meta(property="og:type" content="website")
  meta(property="og:site_name" content=meta.title)
  
  meta(property="profile:first_name" content=meta.author.firstName)
  meta(property="profile:last_name" content=meta.author.lastName)
  meta(property="profile:username" content=meta.author.username)