extends layout

block meta
    script(src="/javascripts/header.js" defer)
    script(src="/javascripts/tag.js" defer)

    title=meta.title
    meta(property="og:title" content=meta.title)
    meta(name='description' content=meta.description)
    meta(property="og:description" content=meta.description)

    meta(property="og:type" content="website")
    meta(property="og:site_name" content=meta.author.name)

    meta(property="profile:first_name" content=meta.author.firstName)
    meta(property="profile:last_name" content=meta.author.lastName)
    meta(property="profile:username" content=meta.author.username)

    link(rel="canonical" href=meta.canonical)

block header
    header(class="header-panel")
        div(class="header-panel-wrap")
            a(class="header-panel-logo" href="/" rel="noopener follow") IR

block content
    div(class="tag-layout")
        section(class="topics-section")
            div(class="tag-container")
                div(class="topics-carousel")
                    div(class="topics-carousel-container")
                        each tag in tags
                            a(class="topics-carousel-item-link" rel="noopener follow" href=tag.link)
                                div(class="topics-carousel-item-text" data-selected=tag.isSelected) #{tag.name}
                        div(class="topics-carousel-right")
                            button(aria-label="next sections" tabindex="0")
                                <svg width="26px" height="26px" class="svgIcon-use" viewBox="0 0 19 19" style="transform:rotate(180deg)" aria-hidden="true"><path fill-rule="evenodd" d="M11.47 13.969 6.986 9.484 11.47 5l.553.492L8.03 9.484l3.993 3.993z"></path></svg>
                        div(class="topics-carousel-left")
                            button(aria-label="previous sections" tabindex="0")
                                <svg width="26px" height="26px" class="svgIcon-use" viewBox="0 0 19 19" aria-hidden="true"><path fill-rule="evenodd" d="M11.47 13.969 6.986 9.484 11.47 5l.553.492L8.03 9.484l3.993 3.993z"></path></svg>
        main(class="tag-content")
            section(class="header")
                div(class="container") 
                    h2  #{tag}
            div(class="separator")
                div(class="tag-container")
                    div(class="tag-border")
            section(class="stories")
                div(class="stories-container")
                    div(class="stories-title")
                        h2 Recommended stories 
                    div(class="stories-mobile")
                        div(class="grid")
                            each story in stories 
                                div(class="stories-mobile-item")
                                    article
                                        a(class="story-grid" href="/"+story.uri rel="noopener follow") 
                                            if story.image
                                                div(class="story-image")
                                                    img(alt=story.title src="/v1/resize:fit:1358/format:webp/"+story.image loading="eager")
                                            div(class="story-content")
                                                div(class="story-content-wrap")
                                                    div(class="story-content-info")
                                                        div
                                                            div(class="story-content-info-title") 
                                                                h2 #{story.title}
                                                            div(class="story-content-info-description")
                                                                h3 #{story.description}

                                                    div(class="story-content-date")
                                                        div #{story.date}
                                                    div(class="story-content-separator")
                                                        div(class="border")

                    div(class="stories-desktop")
                        div(class="grid")
                            each story, index in stories 
                                - var imageSize = 1144
                                - var loading = "eager"
                                if index > 2 
                                    - imageSize = 730
                                    - loading = "lazy"

                                div(class="stories-desktop-item" )
                                    article
                                        a(class="story-grid" href="/"+story.uri rel="noopener follow")
                                            if story.image
                                                div(class="story-image")
                                                    img(alt=story.title src="/v1/resize:fit:"+imageSize+"/format:webp/"+story.image loading=loading)
                                            div(class="story-content")
                                                div(class="story-content-wrap")
                                                    div(class="story-content-info")
                                                        div
                                                            div(class="story-content-info-title") 
                                                                h2 #{story.title}
                                                            div(class="story-content-info-description")
                                                                h3 #{story.description}

                                                div(class="story-content-date")
                                                        div #{story.date}
                                                div(class="story-content-separator")
                                                        div(class="border")

